@use '../../styles/mixins' as mix;

.modal {
  @include mix.flex-center;
  position: fixed;
  inset: 0;
  z-index: 3;

  &-backdrop {
    background: rgba($color: #000, $alpha: .6);
    position: fixed;
    inset: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &-content {
    padding: 1rem;
    width: clamp(60%, 700px, 80%);
    background: #fff;
    border-radius: 1rem;
    @include mix.flex-center;
    z-index: 1;

    .close-button {
      cursor: pointer;
    }
  }
}