@use '../../styles/mixins' as mix;


.messages {
  @include mix.flex-column-gap(.25rem);
  position: fixed;
  inset: 2rem -2rem;
  pointer-events: none;
  z-index: 3;

  .message {
    padding: .75rem;
    width: fit-content;
    background: #fff;
    border: 1px solid #888;
    border-radius: 10rem;
    white-space: nowrap;
  }
}