@mixin button-style {
  display: flex;
  align-items: center;
  gap: .75rem;
  padding: 0 1rem;
  width: fit-content;
  height: 2.5rem;
  background: unset;
  border-radius: .5rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.primary {
  @include button-style;
  background: #1D8AB1;
  color: #fff;
  font-weight: 600;
}

.back {
  @include button-style;
  background: #3c3c3c;
  color: #fff;
}

.submit {
  @extend .primary;
  width: 100%;
  display: flex;
  justify-content: center;
}

// .delete {
//   @include button-style;
//   background: #FF3E00;
//   color: #000;
//   font-weight: 600;
// }