@use '../../styles/vars' as v;
@use '../../styles/mixins' as mix;

@mixin button-style {
  padding: 0 1rem;
  width: fit-content;
  height: 2.5rem;
  background: unset;
  border-radius: .5rem;
  @include mix.flex-gap(.75rem);
  align-items: center;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.primary {
  @include button-style;
  background: #1D8AB1;
  color: #fff;
  font-weight: 600;
}

.back {
  @include button-style;
  background: #3c3c3c;
  color: #fff;
  position: fixed;
  inset: calc(1rem + v.$header-height + v.$header-inset) auto auto calc(1rem + v.$root-padding / 2);
  z-index: 1;
}

.submit {
  @extend .primary;
  width: 100%;
  display: flex;
  justify-content: center;
}

// .delete {
//   @include button-style;
//   background: #FF3E00;
//   color: #000;
//   font-weight: 600;
// }