@use './_reset.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/Quicksand-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: 'Merchant';
  src: url('../../fonts/Merchant-VF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

* {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    margin: 1rem;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

body {
  background: #1b1b1b;
  font-family: 'Poppins';

  #root {
    padding: 2rem;
    height: 100vh;
    background: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // overflow: hidden;
    overflow: hidden scroll;

    &::before {
      content: '';
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      box-shadow: 0 0 0 2rem #1b1b1b;
      border-radius: 1rem;
      position: fixed;
      inset: 1rem auto auto 1rem;
      z-index: 1;
      pointer-events: none;
    }

    .container {
      margin: 6rem 0;
      // min-height: calc(100% - 10rem);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      // overflow: hidden scroll;

      h1 {
        font-family: 'Merchant';
        font-size: 200%;
        font-variation-settings: 'wght' 400, 'wdth' 90;
      }

      form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}