// max items number (2 in header, 5 in navbar)
$itemsNumber: 5;

@mixin container {
  background: #fff;
  box-shadow: 0 2px 4px rgba($color: #000, $alpha: .4);
  border-radius: 1rem;
  display: flex;
  position: fixed;
  z-index: 2;

  &-items {
    padding: .75rem 1rem;
    display: flex;
    gap: 2rem;
    position: relative;

    .item {
      width: 4rem;
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      position: relative;

      &-active,
      &:hover {
        .link {
          .link-title {
            transform: translate(-50%, 0);
            opacity: 1;
          }
        }
      }

      &-active {
        @extend .item;

        // set position of 'focus' based on active element (+8rem at each item)
        @for $i from 1 through $itemsNumber {
          &:nth-child(#{$i + 1})~.focus {
            transform: translateX($i * 6rem);
          }
        }
      }

      // add separator between items
      &:not(li:last-of-type)::before {
        content: '';
        width: 1px;
        height: 80%;
        background: #888;
        position: absolute;
        inset: 10% auto auto calc(100% + 1rem);
      }

      &+.focus {
        width: 4rem;
        background: #dbff73;
        border: 1px solid #888;
        border-radius: .5rem;
        position: absolute;
        inset: .75rem 1rem;
        pointer-events: none;
        z-index: -1;
        transition: .4s;
      }

      .link {
        padding: .5rem;
        width: 100%;
        border-radius: .5rem;
        display: flex;
        // align-items: center;
        justify-content: center;
        gap: .75rem;
        position: relative;

        &-icon {
          width: 1.5rem;
        }

        &-title {
          padding: .5rem;
          width: fit-content;
          background: #3c3c3c;
          border-radius: .5rem;
          color: #fff;
          position: absolute;
          white-space: nowrap;
          transform: translate(-50%, 1rem);
          opacity: 0;
          transition: .2s;
        }
      }
    }
  }
}

.header {
  @include container;
  padding: 0 1rem;
  width: calc(100% - 1rem);
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  inset: .5rem auto auto .5rem;

  &-title {
    font-family: 'Merchant';
    font-size: 200%;

    span {
      font-variation-settings: 'wght' 400, 'wdth' 90;
      transition: .4s;

      &:last-child {
        color: #1D8AB1;
        font-variation-settings: 'wght' 900, 'wdth' 85;
      }
    }
  }

  &-items {
    .item {
      .link {
        &-title {
          inset: auto auto -2.5rem 50%;
        }
      }
    }
  }
}

.navbar {
  @include container;
  justify-content: center;
  // $itemsNumber * 10rem = navbar width, divide it by 2 to center it
  inset: auto auto 2rem calc(50% - calc($itemsNumber * 6rem / 2));

  &-items {
    .item {
      .link {
        &-title {
          inset: -2.5rem auto auto 50%;
        }
      }
    }
  }
}