.searchbar-container {
  position: relative;

  .results {
    padding: 4rem 1rem 1rem;
    width: calc(100% + 1rem);
    background: #888;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    inset: -.5rem -.5rem auto;
    z-index: -1;

    &-item {
      padding: .5rem;
      background: #fff;
      border-radius: .5rem;
      font-size: 90%;
      display: flex;
      flex-direction: column;
      gap: .25rem;
      position: relative;

      &.not-found {
        background: #ccc;
        text-align: center;
        font-size: 100%;
      }

      &-name {
        font-weight: 600;
      }
    }
  }
}